.head {
    background-color: #fff;
    padding: 8px 5px;
}

.head img{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.head .right {
    margin-left: 5px;
}

.head .username{
    font-size: 20px;
}

.head .bottom {
    margin-top: 4px;
    font-size: 12px;
}

.head .cert{
    display:inline-block;
    margin-right: 5px;
    margin-left: 2px;
}

.head .bottom  img{
    width: 20px;
    height: 20px;
}

.popup .picture {
    margin: 0 30%;
}

.am-list-item .am-list-line .am-list-extra{
    flex-basis: auto;
}

.am-image-picker{
    text-align: center;
}

.idcard {
    margin: 0 6px;
    background-color: #fff;
    border-radius: 10px;
    padding: 3px;
}

.idcard .am-list-item .am-input-label.am-input-label-5{
    font-size: 12px;
    width: 70px !important;
}

.idcard .am-list-item .am-list-line .am-list-content{
    font-size: 12px;
    overflow: visible;
    width: 60px !important;
}

.idcard .am-list-item .am-list-line .am-list-extra{
    overflow: visible;
}

.title{
    text-align: center;
}

.pictures{
    padding-top: 5px;
    padding-bottom: 3px;
}