.am-list-item .am-input-label.am-input-label-5 {
    width: 30px !important;
}

.am-list-item .am-input-control input{
    line-height: 1.1 !important;
}

.am-flexbox.am-flexbox-justify-between{
    overflow: visible !important;
}

.am-list-item .am-input-extra{
    max-height: max-content;
}

.bottom{
    color: #0e80d2;
    font-size: 12px;
}
