.name{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.am-list-item .am-input-label.am-input-label-5 {
    width: 30px !important;
}

.am-list-item .am-input-control input{
    line-height: 1.1 !important;
}

.am-flexbox.am-flexbox-justify-between{
    overflow: visible !important;
}

.am-list-item .am-input-extra{
    max-height: max-content;
}

.hint{
    display: flex;
    color:#44c220;
    font-size: 15px;
}

.hint .message{
    padding-left: 5px;
}